@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Space+Grotesk&display=swap');

.main-container-decoration-game {
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */
}

.top-container-decoration-game {
    width: 100%;
    height: 20%;
    /* background-color: blueviolet; */
}

.body-container-decoration-game {
    width: 100%;
    height: 60%;
    /* background-color: brown; */
}

.bottom-container-decoration-game {
    width: 100%;
    height: 20%;
    /* background-color: navy; */
}

.best-top-container-decoration-game {
    display: flex;
    width: 100%;
    height: 40%;
    /* background-color: cadetblue; */
}

.best-top-left-decoration-game {
    width: 95%;
    height: 100%;
    /* background-color: yellowgreen; */
}

.best-top-right-decoration-game {
    width: 5%;
    height: 100%;
    /* background-color: rgb(93, 0, 255); */
}

.on-off-button {
    position: relative;
    top: 15%;
    left: 15%;
    width: 50%;

    padding: 10%;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;
    color: white;

    align-content: center;
}

.on-off-image {
    position: relative;
    margin: auto;
    display: block;
    width: 80%;
}

.middle-top-container-decoration-game {
    width: 100%;
    height: 25%;
    /* background-color: olive; */
}

.screen-word-decoration-game {
    text-align: center;
    position: relative;
    top: 20%;

    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

.bottom-of-top-container-decoration-game {
    width: 100%;
    height: 35%;
    /* background-color: aqua; */
}

.decoration-game-sentence {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;

    position: relative;
    text-align: center;
    top: -10%;
}

.top-of-bottom-container-decoration-game {
    width: 100%;
    height: 40%;
    /* background-color: navy; */
}

.bottom-of-bottom-container-decoration-game {
    width: 100%;
    height: 60%;
    /* background-color: black; */
}

.emoji-record {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;

    text-align: start;
    position: relative;
    top: 30%;
    left: 1%;
    /* left:47.5%; */
}

.screen-capture-sentence {
    font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: white;

    position: relative;
    text-align: center;
    top: 30%;
}

.click-word-decoration-game {
    color:rgb(76, 76, 204);
}