@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Corben:700');

.mainpage {
    
    height: 100vh;
    width: 100%;
    background-color: #285cac;
    text-align: center;

}

.main {
    height: 50vh;
    background-color: black;
}

.button-list {
	text-align: center;

	position: relative;
	top: 26%;
    transition: all 0.5s linear;

}

.selection {
	border-radius: 28px;
	border: 1px solid white;
	cursor: pointer;
	background-color: transparent;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 15px;
	width: 170px;
	padding: 20px 90px;
	text-align: center;
	margin-top: 20px;
}

.selection:hover {
	box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
    transform: scale(1.01);
}

.selection:focus {
	box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}
