.main-container-two-decorative {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(#174fa9, #000000); */
}

.top-container-two-decorative {
    width:100%;
    height:12%;
    background-color: beige;
}

.body-container-two-decorative {
    width:100%;
    height:60%;
    background-color:yellowgreen;
}

.body-top-container-two-decorative {
    width:100%;
    height:20%;
    background-color:pink;
}

.body-middle-container-two-decorative {
    width:100%;
    height:80%;
    background-color:violet;
}

.bottom-container-two-decorative {
    width:100%;
    height:28%;
    background-color:burlywood
}