.top-container-top {
  width: 100%;
  height: 12%;
  /* background-color: pink; */
}

.direction-frame-top {
  position: relative;
  top: 15%;
  left: 1%;
  /* width: 50px; */
  width: 4.5%;
  height: 60%;

  /* padding: 8px; */
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;

  display: flex;
}

.direction-image-top {
  position: relative;
  margin: auto;
  height: 70%;
}