
.main_wrap{
    height: 200rem;
    background-color: chartreuse;
}
.webcam_wrap{
    background-color: brown;
    height: 100%;
    /* position: relative; */
}  


.test_inner {
    /* background-color: blueviolet; */
    border: 2px solid blueviolet;
    background-color: aliceblue;
}

.top {
    background-color: aqua;
    height: 600px;
}
.bottom {
    height: 800px;
    background-color: rgb(0, 206, 138);
}