@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
    background-color: #060919;
}

.main-container-main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-container-main {
    width:48%;
    height:100%;
}
.right-container-main {
    width:52%;
    height:100%;
}

.start-button {
    position:relative;
    top:26%;
    left:15%;

    border-color: blue;
    color: #fff;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: all 150ms ease-in-out;

    margin:20px;
    border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	background-color:transparent;
    color:white;
	text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
	font-size:15px;
	padding:17px 100px;

    border-color: blue;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: all 150ms ease-in-out;
/*
    box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border-radius: 100em;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;  
        */
}

.start-button:hover {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}

.start-button:focus {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}

.home-image-main {
    width:80%;

    position: relative;
    top:15%;
}

.line-main {
    width:20%;
    
    position:relative;
    top:18%;
    left:74.5%;
}

.age {
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    color: white;

    position:relative;
    top:27%;
    left:81%;
}

.page-name {
    font-size: 90px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: white;

    position:relative;
    top:24%;
    left:23%;

}