body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Silkscreen', 'Bungee_Outline';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Silkscreen";
  src: url(./assets/fonts/Silkscreen/Silkscreen-Regular.ttf);
}

@font-face {
  font-family: "Bungee_Outline";
  src: url(./assets/fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}